body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  text-align: center;
  padding: 50px;
}

h1 {
  color: lavender;
  text-align: center;
}

h2 {
  color: lavender;
  text-align: center;
}

h3 {
  color: pink;
  text-align: center;
}


p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}